Repository Waqarabid/erpnext, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @khushi8112, @rohitwaghchaure, @akhilnarang

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

<<<<<<< HEAD
erpnext/accounts/               @deepeshgarg007 @ruthra-kumar
erpnext/assets/                 @khushi8112 @deepeshgarg007
erpnext/regional                @deepeshgarg007 @ruthra-kumar
erpnext/selling                 @deepeshgarg007 @ruthra-kumar
erpnext/support/                @deepeshgarg007
=======
erpnext/accounts/               @ruthra-kumar
erpnext/assets/                 @khushi8112
erpnext/regional                @ruthra-kumar
erpnext/selling                 @ruthra-kumar
erpnext/support/                @ruthra-kumar
>>>>>>> 125a352bc2 (fix: allow all dispatch address for drop ship invoice)
pos*                            

erpnext/buying/                 @rohitwaghchaure
erpnext/maintenance/            @rohitwaghchaure
erpnext/manufacturing/          @rohitwaghchaure
erpnext/quality_management/     @rohitwaghchaure
erpnext/stock/                  @rohitwaghchaure
erpnext/subcontracting          @rohitwaghchaure

<<<<<<< HEAD
erpnext/controllers/            @deepeshgarg007 @rohitwaghchaure
erpnext/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
=======
erpnext/controllers/            @ruthra-kumar @rohitwaghchaure
erpnext/patches/                @ruthra-kumar

.github/                        @ruthra-kumar
>>>>>>> 125a352bc2 (fix: allow all dispatch address for drop ship invoice)
pyproject.toml                  @akhilnarang

refactor: stock closing balance
  erpnext/patches.txt
  erpnext/patches/v15_0/refactor_closing_stock_balance.py
  erpnext/stock/doctype/closing_stock_balance/closing_stock_balance.py
  erpnext/stock/doctype/closing_stock_balance/test_closing_stock_balance.py
  erpnext/stock/doctype/inventory_dimension/inventory_dimension.py
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
  erpnext/stock/doctype/stock_closing_balance/__init__.py
  erpnext/stock/doctype/stock_closing_balance/stock_closing_balance.js
  erpnext/stock/doctype/stock_closing_balance/stock_closing_balance.json
  erpnext/stock/doctype/stock_closing_balance/stock_closing_balance.py
  erpnext/stock/doctype/stock_closing_balance/test_stock_closing_balance.py
  erpnext/stock/doctype/stock_closing_entry/__init__.py
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.js
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.json
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.py
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry_dashboard.py
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry_list.js
  erpnext/stock/doctype/stock_closing_entry/test_stock_closing_entry.py
  erpnext/stock/report/stock_balance/stock_balance.py
Owners: @ruthra-kumar, @rohitwaghchaure

perf: batchwise balance history report
  erpnext/stock/doctype/repost_item_valuation/repost_item_valuation.py
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.py
  erpnext/stock/report/batch_wise_balance_history/batch_wise_balance_history.py
Owners: @rohitwaghchaure

fix: Removed conflict
  erpnext/assets/doctype/asset/asset.py
  erpnext/assets/doctype/asset/test_asset.py
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.json
  erpnext/assets/doctype/asset_depreciation_schedule/asset_depreciation_schedule.py
  erpnext/assets/doctype/asset_depreciation_schedule/utils.py
  erpnext/assets/doctype/asset_finance_book/asset_finance_book.json
  erpnext/assets/doctype/asset_shift_allocation/asset_shift_allocation.py
Owners: @khushi8112

fix: removed commented code
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112

fix: stock ageing data for stock balance report
  erpnext/stock/doctype/repost_item_valuation/test_repost_item_valuation.py
  erpnext/stock/doctype/stock_closing_balance/stock_closing_balance.json
  erpnext/stock/doctype/stock_closing_balance/stock_closing_balance.py
  erpnext/stock/doctype/stock_closing_entry/stock_closing_entry.py
  erpnext/stock/report/stock_balance/stock_balance.py
Owners: @rohitwaghchaure

fix: add asset activity after insert
  erpnext/assets/doctype/asset/asset.py
Owners: @khushi8112

feat: change type link to multiselect
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.json
  erpnext/accounts/doctype/process_statement_of_accounts/process_statement_of_accounts.py
  erpnext/accounts/doctype/process_statement_of_accounts_cc/__init__.py
  erpnext/accounts/doctype/process_statement_of_accounts_cc/process_statement_of_accounts_cc.json
  erpnext/accounts/doctype/process_statement_of_accounts_cc/process_statement_of_accounts_cc.py
Owners: @ruthra-kumar

fix: update cc_to multiselect in process statement of accounts
  erpnext/patches.txt
  erpnext/patches/v15_0/update_cc_in_process_statement_of_accounts.py
Owners: @ruthra-kumar
